<form action='/projects' method='post'>
  <p>
    <label for='name'>Name</label>
    <input id='name' name='name' type='text'>
  </p>
  <p>
    <label for='description'>Description</label>
    <input id='description' name='description' type='text'>
  </p>

</form>
